<nav class="top-bar" data-topbar role="navigation">
	<ul class="inline-list" id="global-nav">
		<li>
			<a href="/filme/listar">Ver Filmes</a>
		</li>

		<li>
			<a href="/ator/listar">Ver Atores</a>
		</li>

		<li>
			<a href="/filme/cadastrar">Cadastrar Filme</a>
		</li>
		<li>
			<a href="/filme/listar">Cadastrar Ator</a>
		</li>
	</ul>
</nav>