{>layout /}

{<title}{pageTitle}{/title}

{<main}
	<div class="row">
		<div class="large-12 columns">
			<dl id="show-movie">
			</dl>
		</div>
	</div>

	<div class="row form-buttons">
		<div class="large-6 columns">
			<button class="edit-movie"> Editar </button>	
		</div>
	</div>	
{/main}	

{<scripts}
	<script src="/javascripts/showMovie.js"></script>
{/scripts}	