{>layout /}

{<title}{pageTitle}{/title}

{<main}
	<div class="row item-details">
		<div class="col-md-3">
			<div class="movie-poster"></div>
		</div>
		<div class="col-md-7">
			<dl id="show-movie" class="details-list">
			</dl>

			<div class="form-buttons">
				<button class="edit-movie btn btn-primary"> Edit </button>	
			</div>
		</div>
	</div>
{/main}	

{<scripts}
	<script src="/javascripts/showFilm.js"></script>
{/scripts}	