.content-row {
	margin-bottom: 24px;
}

.site-name {
	margin-left: 6px;
}

.media-list li {
	list-style: none;
	padding: 12px 0;
	border-bottom: solid 2px #CCC;
}

.media-list li img {
	max-width: 90px;
}

.media-list .small-data {
	font-size: 12px;
	color: #CCC;
	display: block;
	margin-bottom: 12px;
}

.item-details img {
	width: 100%;
}

.details-list dd {
	margin-bottom: 12px;
}

.details-list #title, .details-list #name {
	font-size: 24px;
}

.details-list dt {
	font-size: 12px;
	color: #df691a;
}

.details-list dt.hidden {
	display: none;
}

.delete-span { 
	font-size: 12px; 
	color: #F00;
	display: none;
}

.media-body:hover .delete-span {
	display: inline-block;
}

.see-more { 
	font-size: 12px; 
	color: #028532;
}

.see-more:hover {
	color: #028532;
	text-decoration: underline;
}

.delete-span:hover {
	text-decoration: underline;
	cursor:pointer;
}

#search-container {
	margin-left: 0;
}