#main {
	padding: 20px;
	box-sizing: border-box;
}

#global-nav {
	padding: 10px 20px;
}

#movie-form, #actor-form, #show-movie, #show-actor {
	max-width: 600px;
}

.delete-span { 
	font-size: 12px; 
	color: #F00;
}

.see-more { 
	font-size: 12px; 
	color: #028532;
}

.see-more:hover {
	color: #028532;
	text-decoration: underline;
}

.delete-span:hover {
	text-decoration: underline;
	cursor:pointer;
}

#search-container {
	margin-left: 0;
}